[Data]
input_path = input.json

[PSO]
n_iterations = 30
inertia_weight = 0.5
c1 = 1
c2 = 2


[SVR]
kernel = rbf
epsilon = 0.1
C_min = 1
C_max = 100
C_step = 10
gamma_min = 0.01
gamma_max = 2
gamma_step = 0.2


[Validation]
type = k-fold
n_validations = 10
validation_size = 0.25

[Model]
svr_s_save_path = grid_search/pickle/svr_speed_model.pickle
svr_f_save_path = grid_search/pickle/svr_flow_model.pickle
svr_o_save_path = grid_search/pickle/svr_occu_model.pickle
scaler_s_save_path = grid_search/pickle/scaler_speed_model.pickle
scaler_f_save_path = grid_search/pickle/scaler_flow_model.pickle
scaler_o_save_path = grid_search/pickle/scaler_occu_model.pickle
